@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import
	url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
* {
	font-family: 'Noto Sans KR', 'Open Sans';
}

h1 {
	font-family: 'Noto Sans KR' sans-serif;
}

h3 {
	font-family: 'Noto Sans KR' sans-serif;
	text-align: center;
	text-shadow: green;
	letter-spacing: 1.44px;
}

.navbar-default {
	font-color: black;
	background-color: white;
	border-color: white;
}

.navbar-default .navbar-text {
  color: black;
}

.join-title {
	font-family: 'Noto Sans KR' sans-serif;
	font-style: 'normal';
	text-align: center;
	letter-spacing: 1.44px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.btn-primary {
  color: #fff;
  background-color: #FD9191;
  border-color: #FD9191;
  float: right;
  margin-top: 10px;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #FD9191;
  border-color: #FD9191;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #FD9191;
  border-color: #FD9191;
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}

.product{overflow:hidden;padding:70px 0;background:#eee;text-align:center;}
.product .tit{
	font-family: 'Montserrat', sans-serif;
	font-size:32px;font-weight:600;letter-spacing:2px;color:#000;
	line-height:120%;
}
.product .tit:after{
	content:"";
	display:block;
	width:26px;height:4px;
	margin:10px auto;
	background:#c40f39;
}
.product .p_tabs{margin:40px 0;}
.product .p_tabs ul{}
.product .p_tabs ul li{display:inline-block;}
.product .p_tabs ul li a{
	display:block;
	width:153px;height:32px;
	text-align:center;line-height:32px;
	font-size:14px;color:#898989;
	border:2px solid #bcbcbc;
}
.product .p_tabs ul li.on a{
	border:2px solid #c40f39;
	color:#c40f39;
}

/*
*
* Product
*/
.product {
	position: relative;
	overflow: hidden;
	text-align: center;
	padding: 48px 20px 35px;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.product-rating {
	font-size: 17px;
	color: #ffe745;
}

.product-rating > * {
	display: inline-block;
	vertical-align: middle;
}

.product-title {
	font-weight: 400;
	letter-spacing: .025em;
	text-transform: none;
}

.product-price {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	letter-spacing: .025em;
	color: #6046b6;
}

.product-price-old {
	color: rgba(21, 21, 21, 0.5);
	text-decoration: line-through;
}

.product-price-old + .product-price {
	margin-left: 4px;
}

.product-badge {
	position: absolute;
	text-align: center;
	overflow: hidden;
	top: 0;
	left: 0;
	padding: 2px 14px 3px 10px;
	min-width: 76px;
	font-size: 12px;
	line-height: 2;
	letter-spacing: .1em;
	font-weight: 700;
	text-transform: uppercase;
	z-index: 1;
}

.product-badge::before {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: skew(-22deg);
	transform-origin: 50% 0;
	pointer-events: none;
	z-index: -1;
}

.product-badge-new {
	color: #ffffff;
}

.product-badge-new::before {
	background: #6046b6;
}

.product-badge-sale {
	color: #151515;
}

.product-badge-sale::before {
	background: #ffe745;
}

.product-button {
	pointer-events: none;
}

.product-button .button {
	width: 100%;
	letter-spacing: .01em;
	pointer-events: auto;
	min-width: 176px;
}

.product-button * + .button-wrap,
.product-button * + .button {
	margin-top: 10px;
}

@media (min-width: 992px) {
	.desktop .product-button {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.desktop .product-button::before {
		position: absolute;
		content: '';
		top: 50%;
		left: 50%;
		width: 200px;
		height: 200px;
		opacity: 0;
		visibility: hidden;
		background: rgba(96, 70, 182, 0.5);
		transform: translate3d(-50%, -50%, 0);
		border-radius: 50%;
		transition-delay: .35s;
	}
	.desktop .product-button .button-wrap {
		opacity: 0;
		visibility: hidden;
		transition: all .35s ease-in-out;
	}
	.desktop .product-button .button-wrap .button {
		font-weight: 600;
		letter-spacing: 2px;
	}
	.desktop .product-button .button-wrap:first-child {
		transform: translate3d(15px, 0, 0);
	}
	.desktop .product-button .button-wrap:last-child {
		transform: translate3d(-15px, 0, 0);
	}
	.desktop .product:hover .product-button::before {
		width: 500px;
		height: 500px;
		opacity: 1;
		visibility: visible;
		background: rgba(255, 255, 255, 0.92);
		transition: all .35s ease;
	}
	.desktop .product:hover .product-button .button-wrap {
		opacity: 1;
		transform: none;
		visibility: visible;
	}
	.desktop * + .product-button {
		margin-top: 0;
	}
}

* + .product-rating {
	margin-top: 18px;
}

* + .product-title {
	margin-top: 8px;
}

* + .product-price-wrap {
	margin-top: 6px;
}

* + .product-button {
	margin-top: 14px;
}

@media (min-width: 992px) {
	.product {
	text-align: left;
	padding-left: 44px;
	}
}
.section {
	background-color: #fff;
	margin-top: 30px;
	margin-bottom: 30px;
}
.tit{
	font-family: 'Do Hyeon', sans-serif;
	color: black;
	margin-top: 30px;
	margin-bottom: 30px;
}